In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-01-26 00:30:19,-9.8000,-139.0333,78.31,74,3,17.47
1,1,Hilo,US,2022-01-26 00:30:20,19.7297,-155.0900,78.53,67,75,9.22
2,2,Pangnirtung,CA,2022-01-26 00:30:20,66.1451,-65.7125,-12.03,99,100,2.26
3,3,Barrow,US,2022-01-26 00:27:32,71.2906,-156.7887,-5.78,77,40,20.71
4,4,Thompson,CA,2022-01-26 00:30:21,55.7435,-97.8558,-9.24,70,75,8.05

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-01-26 00:30:19,-9.8000,-139.0333,78.31,74,3,17.47
1,1,Hilo,US,2022-01-26 00:30:20,19.7297,-155.0900,78.53,67,75,9.22
5,5,Vaini,TO,2022-01-26 00:30:21,-21.2000,-175.2000,86.16,74,20,9.22
8,8,Arraial Do Cabo,BR,2022-01-26 00:29:37,-22.9661,-42.0278,76.46,87,15,20.71
10,10,Saquarema,BR,2022-01-26 00:30:23,-22.9200,-42.5103,80.62,85,2,16.49
11,11,Bambous Virieux,MU,2022-01-26 00:30:23,-20.3428,57.7575,75.45,69,20,5.75
17,17,Hithadhoo,MV,2022-01-26 00:30:25,-0.6000,73.0833,81.10,67,100,17.94
21,21,Bom Jardim,BR,2022-01-26 00:30:26,-7.7958,-35.5872,79.14,83,82,6.53
36,36,Kapaa,US,2022-01-26 00:30:32,22.0752,-159.3190,79.12,67,40,4.00
37,37,Avarua,CK,2022-01-26 00:27:38,-21.2078,-159.7750,78.85,89,100,5.75

In [27]:
preferred_cities_df.count()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Atuona      PF     78.31  -9.8000 -139.0333
1              Hilo      US     78.53  19.7297 -155.0900
5             Vaini      TO     86.16 -21.2000 -175.2000
8   Arraial Do Cabo      BR     76.46 -22.9661  -42.0278
10        Saquarema      BR     80.62 -22.9200  -42.5103
11  Bambous Virieux      MU     75.45 -20.3428   57.7575
17        Hithadhoo      MV     81.10  -0.6000   73.0833
21       Bom Jardim      BR     79.14  -7.7958  -35.5872
36            Kapaa      US     79.12  22.0752 -159.3190
37           Avarua      CK     78.85 -21.2078 -159.7750

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,78.31,-9.8000,-139.0333,Villa Enata
1,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort
8,Arraial Do Cabo,BR,76.46,-22.9661,-42.0278,Pousada Porto Praia
10,Saquarema,BR,80.62,-22.9200,-42.5103,Hotel Fazenda Sol e Lua
11,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
17,Hithadhoo,MV,81.10,-0.6000,73.0833,Scoop Guest House
21,Bom Jardim,BR,79.14,-7.7958,-35.5872,Pousada do Posto Jose Breno
36,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
37,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))